autopep8==1.4.2
dj-database-url==0.5.0
Django==2.1.2
django-hashers-passlib==0.4
django-heroku==0.3.1
django-rest-auth==0.9.3
djangorestframework==3.8.2
mccabe==0.6.1
passlib==1.7.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycodestyle==2.4.0
pydocstyle==3.0.0
pyflakes==2.0.0
pylama==7.6.6
python-decouple==3.1
python-mimeparse==1.6.0
pytz==2018.5
RestAuthCommon==0.7.0
six==1.11.0
snowballstemmer==1.2.1
South==1.0.2
whitenoise==4.1.2
