{% extends "base.html" %}
{% load static %}

{% block content %}

	<div class="container">
		<div class="row mt-5">
			<div class="offset-md-4 col-md-4 float-center">
				<form method="post" action="{% url 'accounts:login' %}"> {% csrf_token %}
					
					<div class="row">
						<label for="id_username">Usuário</label>
						<input class="form-control" type="text" name="username" autofocus="" required="" id="id_username">
					</div>
					<div class="row">
						<label class="mt-3" for="id_password">Senha</label>
						<input class="form-control" type="password" name="password" required="" id="id_password">
					</div>
					
					<div>
						<input type="submit" class="btn btn-primary bg-green mt-3 float-right" value="login">
						<input type="hidden" name="next" value="{{ next }}" />
					</div>
				</form>
			</div>
		</div>
		<div class="row mt-5">
			<div class="offset-md-4 col-md-4 float-center">
				{% if form.errors %}
					<div class="alert alert-danger" role="alert">
						Sua senha ou usuário estão errados. Tente novamente.
					</div>
				{% endif %}
				
				{% if next %}
					{% if user.is_authenticated %}
						<div class="alert alert-danger" role="alert">
							Sua conta não tem permição para essa página. Para continuar, entre com outra conta.
						</div>
					{% else %}
						<div class="alert alert-danger" role="alert">
							Entre em sua conta para acessar essa página.
						</div>
					{% endif %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	{% endblock %}