{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-5">

        <h2 class="mb-4">
            <strong>Novo paciente</strong>
        </h2>
        <form>
            <div class="row mt-5">
                <div class="col sm-1">
                    <div class="row">
                        <div class="col-md-8">    
                            <h6>Nome</h6>
                            <input id="patient-name" class="form-control" type="text" >
                        </div>
                        <div class="col-md-4">
                            <h6>Data de Nascimento</h6>
                            <input id="patient-birth-date" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <h6>Celular</h6>
                            <input id="patient-cell-phone" class="form-control" type="text">
                        </div>
                        <div class="col-md-4">
                            <h6>Telefone Fixo</h6>
                            <input id="patient-phone" class="form-control" type="text">
                        </div>
                        <div class="col-md-4">
                            <h6>Email</h6>
                            <input id="patient-email" class="form-control" type="email">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <h6>Estado Civíl</h6>
                            <select id="patient-maritualstate" class="form-control">
                                <option>--------</option>
                                <option value="Solteiro(a)">Solteiro(a)</option>
                                <option value="Casado(a)">Casado(a)</option>
                                <option value="Separado(a)">Separado(a)</option>
                                <option value="Divorciado(a)">Divorciado(a)</option>
                                <option value="Viúvo(a)">Viúvo(a)</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <h6>Gênero</h6>
                            <select id="patient-gender" class="form-control">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <h6>Trabalho</h6>
                            <input id="patient-job" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h6>Convênio</h6>
                            <input id="patient-insurance" class="form-control" type="text">
                        </div>
                        <div class="col-md-6">
                            <h6>Número do convênio</h6>
                            <input id="patient-insurancenumber" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h6>CPF</h6>
                            <input id="patient-cpf" class="form-control" type="text">
                        </div>
                        <div class="col-md-6">
                            <h6>RG</h6>
                            <input id="patient-rg" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="mt-4 mb-5 float-right">
                        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancelar</button>
                        <button type="button" class="btn btn-success bg-green" id="savePatient" onclick="handleSavePatient()">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "JS/create-patient.js" %}"></script>
{% endblock %}