{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-5">

        <h2 class="mb-4">
            <strong id="page-title">
                {% if edit_patient %}
                    Editar paciente
                {% else %}
                    Novo paciente
                {% endif %}
            </strong>
        </h2>
        <form>
            <div class="row mt-5">
                <div class="col sm-1">
                    <div class="row">
                        <div class="col-md-8">    
                            <h6>Nome</h6>
                            <input id="patient-name" class="form-control consultation-input" type="text" >
                            <div class="invalid-feedback error-feedback">
                                Selecione um nome válido
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>Data de Nascimento</h6>
                            <input id="patient-birth-date" type="date" class="form-control consultation-input">
                            <div class="invalid-feedback error-feedback">
                                Selecione uma data de nascimento válida
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <h6>Celular</h6>
                            <input id="patient-cell-phone" class="form-control consultation-input" type="text">
                        </div>
                        <div class="col-md-4">
                            <h6>Telefone Fixo</h6>
                            <input id="patient-phone" class="form-control consultation-input" type="text">
                        </div>
                        <div class="col-md-4">
                            <h6>Email</h6>
                            <input id="patient-email" class="form-control consultation-input" type="email">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <h6>Estado Civíl</h6>
                            <select id="patient-maritualstate" class="form-control consultation-input">
                                <option value="">--------</option>
                                <option value="Solteiro(a)">Solteiro(a)</option>
                                <option value="Casado(a)">Casado(a)</option>
                                <option value="Separado(a)">Separado(a)</option>
                                <option value="Divorciado(a)">Divorciado(a)</option>
                                <option value="Viúvo(a)">Viúvo(a)</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <h6>Gênero</h6>
                            <select id="patient-gender" class="form-control consultation-input">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <h6>Trabalho</h6>
                            <input id="patient-job" class="form-control consultation-input" type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h6>Convênio</h6>
                            <input id="patient-insurance" class="form-control consultation-input" type="text">
                        </div>
                        <div class="col-md-6">
                            <h6>Número do convênio</h6>
                            <input id="patient-insurancenumber" class="form-control consultation-input" type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h6>CPF</h6>
                            <input id="patient-cpf" class="form-control consultation-input" type="text">
                        </div>
                        <div class="col-md-6">
                            <h6>RG</h6>
                            <input id="patient-rg" class="form-control consultation-input" type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <h6>Cidade</h6>
                            <input id="patient-city" type="text" class="form-control consultation-input">
                        </div>
                        <div class="col-md-4">
                            <h6>Bairro</h6>
                            <input id="patient-neighborhood" type="text" class="form-control consultation-input">
                        </div>
                        <div class="col-md-4">
                            <h6>Endereço</h6>
                            <input id="patient-address" type="text" class="form-control consultation-input">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <h6>Alergias</h6>
                            <input id="patient-allergies" type="text" class="form-control consultation-input"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <h6>Notas</h6>
                            <textarea id="patient-notes" class="form-control consultation-input" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="mt-4 mb-5 float-right">
                        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancelar</button>
                        {% if edit_patient %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                Deletar
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-success bg-green" id="savePatient" onclick="handleSavePatient({{patient.id}})">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    {% if edit_patient %}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Deletar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja deletar este paciente?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                        <button type="button" class="btn btn-danger" onclick="deletePatient({{patient.id}})" data-dismiss="modal">Sim</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        {% if patient %}
            var patientId = {{patient.id}}
        {% endif %}
    </script>
    <script src="{% static "JS/helpers/addTag.js" %}"></script>
    <script src="{% static "JS/helpers/request.js" %}"></script>
    <script src="{% static "JS/patient-details.js" %}"></script>
{% endblock %}