{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "CSS/main.css" %}">

    <title>EndoSystem</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">EndoSystem</a>
        </div>
    </nav>

    <div class="container mt-5">

        <h2 class="mb-4">
            <strong>Agendamentos</strong>
        </h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data e Horário</th>
                    <th scope="col">Duração</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Prioridade</th>
                    <th scope="col">Procedimento</th>
                    <th scope="col">Preparo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>

            <tbody id="schedule-body"> </tbody>
        </table>

        <button id="consultation-form-button" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#consultation-form">
            Novo Agendamento
        </button>

        <div class="modal fade" id="consultation-form" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xlg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title">Consulta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <h6>Status</h6>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                                        <label id="consultation-status-scheduled" class="btn btn-secondary">
                                            <input type="radio" name="statusOptions" autocomplete="off" value="Agendado">
                                            Agendado
                                        </label>
                                        <label id="consultation-status-confirmed" class="btn btn-warning">
                                            <input type="radio" name="statusOptions" autocomplete="off" value="Confirmado">
                                            Confirmado
                                        </label>
                                        <label id="consultation-status-arrived" class="btn btn-danger">
                                            <input type="radio" name="statusOptions" autocomplete="off" value="Chegou">
                                            Chegou
                                        </label>
                                        <label id="consultation-status-realized" class="btn btn-success">
                                            <input type="radio" name="statusOptions" autocomplete="off" value="Realizado">
                                            Realizado
                                        </label>
                                        <label id="consultation-status-disengaged" class="btn btn-primary">
                                            <input type="radio" name="statusOptions" autocomplete="off" value="Desmarcado">
                                            Desmarcado
                                        </label>
                                    </div>

                                    <h6 class="mt-3">Paciente</h6>
                                    <input id="consultation-patient" class="form-control" type="text" readonly>

                                    <div id="patientData">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="mt-3">Celular</h6>
                                                <input id="consultation-cell-phone" class="form-control" type="text" placeholder="(85) 98989-7384" readonly>
                                            </div>
                                            <div class="col">
                                                <h6 class="mt-3">Telefone Fixo</h6>
                                                <input id="consultation-phone" class="form-control" type="text" placeholder="(85) 3214-1432" readonly>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6 class="mt-3">Data de Nascimento</h6>
                                                <input id="consultation-birth-date" type="date" class="form-control" readonly>
                                            </div>
                                            <div class="col">
                                                <h6 class="mt-3">Convenio</h6>
                                                <input id="consultation-insurance" class="form-control" type="text" placeholder="Unimed" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h6>Data</h6>
                                            <input id="consultation-date" type="date" class="form-control">
                                        </div>
                                        <div class="col-md-2">
                                            <h6>Hora</h6>
                                            <input id="consultation-hour" class="form-control" type="text">
                                        </div>
                                        <div class="col-md-2">
                                            <h6>Duração</h6>
                                            <input id="consultation-duration" class="form-control" type="number">
                                        </div>
                                        <div class="col-md-4">
                                            <h6>Prioridade</h6>
                                            <select id="consultation-priority" class="form-control">
                                                <option value="Normal">Normal</option>
                                                <option value="Ambulatorio">Ambulatorio</option>
                                                <option value="Internado">Internado</option>
                                                <option value="Isolamento">Isolamento</option>
                                                <option value="Urgencia">Urgencia</option>
                                                <option value="Idoso">Idoso</option>
                                                <option value="Criança">Criança</option>
                                                <option value="Deficiente">Deficiente</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h6 class="mt-3">Procedimento</h6>
                                            <select id="consultaion-procedure" class="form-control">
                                                <option>Cirurgia da cabeça e do pescoço</option>
                                                <option>Gastroenterologia</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <h6 class="mt-3">Solicitante</h6>
                                            <input id="consultaion-requester" class="form-control" type="number" placeholder="12612">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h6 class="mt-3">Preparo</h6>
                                        <textarea id="consultaion-prepare" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h6 class="mt-3">Detalhes</h6>
                                        <textarea class="form-control" id="consultaion-details" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="saveConsultation">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="{% static "JS/schedule.js" %}"></script>
</body>

</html>