{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-5">

        <h2 class="mb-4">
            <strong>Novo agendamento</strong>
        </h2>

        <form>
            <div class="row mt-5">
                <div class="col sm-1">
                    
                    <h6 class="">Status</h6>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                        <label id="consultation-status-scheduled" class="btn btn-outline-secondary active">
                            <input type="radio" name="statusOptions" autocomplete="off" value="Agendado" checked>
                            Agendado
                        </label>
                        <label id="consultation-status-confirmed" class="btn btn-outline-warning">
                            <input type="radio" name="statusOptions" autocomplete="off" value="Confirmado">
                            Confirmado
                        </label>
                        <label id="consultation-status-arrived" class="btn btn-outline-danger">
                            <input type="radio" name="statusOptions" autocomplete="off" value="Chegou">
                            Chegou
                        </label>
                        <label id="consultation-status-realized" class="btn btn-outline-success">
                            <input type="radio" name="statusOptions" autocomplete="off" value="Realizado">
                            Realizado
                        </label>
                        <label id="consultation-status-disengaged" class="btn btn-outline-primary">
                            <input type="radio" name="statusOptions" autocomplete="off" value="Desmarcado">
                            Desmarcado
                        </label>
                    </div>
        
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h6>Procedimento</h6>
                            {% if doctor %}
                                <select id="consultation-procedures" class="form-control consultation-input is-invalid">
                                    {% for procedure in procedures %}
                                        <option value="{{ procedure.id }}">{{ procedure }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback error-feedback">
                                    Selecione um procedimento válido
                                </div>
                            {% else %}
                                <select id="consultation-procedures" class="form-control consultation-input" onchange="handleChangeProcedureSelector()">
                                    <option value="0">Selecione o procedimento</option>
                                </select>
                                <div class="invalid-feedback error-feedback">
                                    Selecione um procedimento válido
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <h6 class="mt-4 col-md-12">Paciente</h6>
                        <div class="col-md-9">    
                            <select id="consultation-patients" class="form-control consultation-input" onchange="handleChangePatientSelector()">
                                <option value="0">Selecione o paciente</option>
                            </select>
                            <div class="invalid-feedback error-feedback">
                                Selecione um paciente válido
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="../pacientes/novo" style="line-height: 35px; text-decoration: none">Novo paciente</a>
                        </div>
                    </div>
                    
                    <div id="patientData">
                        <div class="row">
                            <div class="col">
                                <h6 class="mt-3">Celular</h6>
                                <input id="consultation-cell-phone" class="form-control consultation-input" type="text" disabled readonly>
                            </div>
                            <div class="col">
                                <h6 class="mt-3">Telefone Fixo</h6>
                                <input id="consultation-phone" class="form-control consultation-input" type="text" disabled readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="mt-3">Email</h6>
                                <input id="consultation-email" type="email" class="form-control consultation-input" disabled readonly>
                            </div>
                            <div class="col-md-4">
                                <h6 class="mt-3">Data de Nascimento</h6>
                                <input id="consultation-birth-date" class="form-control consultation-input" type="date" disabled readonly>
                            </div>
                            <div class="invalid-feedback error-feedback">
                                Selecione uma data de nascimento válida
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mt-3">Convênio</h6>
                                <input id="consultation-insurance" type="text" class="form-control consultation-input">
                            </div>
                            <div class="invalid-feedback error-feedback">
                                Insira um plano de saúde válido
                            </div>
                            <div class="col-md-7">
                                <h6 class="mt-3">Número de Convênio</h6>
                                <input id="consultation-insurancenumber" class="form-control consultation-input" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col md-1">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Data</h6>
                            <input id="consultation-date" type="date" class="form-control consultation-input">
                        </div>
                        <div class="invalid-feedback error-feedback">
                            Selecione uma data válido
                        </div>
                        <div class="col-md-3">
                            <h6>Hora (00:00)</h6>
                            <input id="consultation-hour" class="form-control consultation-input" type="text">
                            <div class="invalid-feedback error-feedback">
                                Insira uma hora válida no formato como 12:35 ou 07:00
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h6>Duração</h6>
                            <select id="consultation-duration" class="form-control consultation-input">
                                <option value="5">5 min</option>
                                <option value="10">10 min</option>
                                <option value="15">15 min</option>
                                <option value="20">20 min</option>
                                <option value="25">25 min</option>
                                <option value="30">30 min</option>
                                <option value="35">35 min</option>
                                <option value="40">40 min</option>
                                <option value="45">45 min</option>
                                <option value="50">50 min</option>
                                <option value="55">55 min</option>
                                <option value="60">60 min</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h6>Médico</h6>
                            {% if doctor %}
                                <select id="consultation-doctors" class="form-control consultation-input">
                                    <option value="{{ doctor.id }}">{{ doctor }}</option>
                                </select>
                                <div class="invalid-feedback error-feedback">
                                    Selecione um médico válido
                                </div>
                            {% else %}
                                <select id="consultation-doctors" class="form-control consultation-input" disabled></select>
                                <div class="invalid-feedback error-feedback">
                                    Selecione um médico válido
                                </div>
                            {% endif %} 
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h6>Prioridade</h6>
                            <select id="consultation-priority" class="form-control consultation-input">
                                <option value="Normal">Normal</option>
                                <option value="Ambulatorio">Ambulatorio</option>
                                <option value="Internado">Internado</option>
                                <option value="Isolamento">Isolamento</option>
                                <option value="Urgencia">Urgencia</option>
                                <option value="Idoso">Idoso</option>
                                <option value="Criança">Criança</option>
                                <option value="Deficiente">Deficiente</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h6>Solicitante</h6>
                            <input id="consultation-requester" class="form-control consultation-input" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <h6 class="mt-4">Preparo</h6>
                        <textarea id="consultation-prepare" class="form-control consultation-input" id="exampleFormControlTextarea1" rows="4"></textarea>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h6 class="mt-4">Detalhes</h6>
                        <textarea class="form-control consultation-input" id="consultation-details" rows="3"></textarea>
                        <div class="invalid-feedback error-feedback">
                            Insira detalhes válidos
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 mb-5 float-right">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Cancelar</button>
                <button type="button" class="btn btn-success bg-green" id="saveConsultation" onclick="handleSaveConsultation()">Salvar</button>
            </div>
        </form>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "JS/helpers/addTag.js" %}"></script>
    <script src="{% static "JS/helpers/request.js" %}"></script>
    <script src="{% static "JS/create-consultation.js" %}"></script>
{% endblock %}