.default-link {
    color: #007bff !important;
    cursor: pointer !important;
}

.line-through-text {
    text-decoration: line-through;
}

.modal-xlg {
    max-width: 90%;
}

.bg-green {
    background-color: #4b8f38 !important;
}
