{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "CSS/medical-record.css" %}">
{% endblock %}

{% block content %}

    <div class="container mt-5 mb-5">
        <h2 class="mt-5"><strong>Ficha do Paciente</strong></h2>

        <div class="row mt-4">
            <div class="col-md-6">
                <h5><strong>Dados Pessoais</strong></h5>
                <div class="row">
                    <h6 class="mt-4 col-md-12">Paciente</h6>
                    <div class="col-md-9">    
                        <select id="patients-name" class="form-control" disabled readonly>
                            <option value="{{ patient.id }}">{{patient.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a href="../pacientes/{{ patient.id }}" style="line-height: 35px; text-decoration: none">Editar Paciente</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h6 class="mt-3">Celular</h6>
                        <input id="patient-cell-phone" class="form-control" type="text" value="{{ patient.cell_phone }}" disabled readonly>
                    </div>
                    <div class="col">
                        <h6 class="mt-3">Telefone Fixo</h6>
                        <input id="patient-phone" class="form-control" type="text" value="{{ patient.phone }}" disabled readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h6 class="mt-3">Data de Nascimento</h6>
                        <input id="patient-birth-date" class="form-control" value="{{ patient.birth_date.year }}-{{ patient.birth_date.month }}-{{ patient.birth_date.day }}" type="date" disabled readonly>
                    </div>
                    <div class="col-md-2">
                        <h6 class="mt-3">Idade</h6>
                        <input id="patient-email" type="text" class="form-control" value="{{ patient_age }}" disabled readonly>
                    </div>
                    <div class="col-md-6">
                        <h6 class="mt-3">Gênero</h6>
                        <select id="patient-gender" class="form-control" disabled readonly>
                            <option value="{{ patient.gender }}">{{ patient.gender }}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6 class="mt-3">Convênio</h6>
                        <input id="patient-insurance" class="form-control" type="text" value="{{ patient.insurance }}" disabled readonly>
                    </div>
                    <div class="col-md-6">
                        <h6 class="mt-3">Número do convênio</h6>
                        <input id="patient-insurancenumber" class="form-control" value="{{ patient.insurance_number }}" type="text" disabled readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h6 class="mt-3">Alergias</h6>
                        <input id="patient-allergies" class="form-control" type="text" value="{{ patient.allergies }}" disabled readonly>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <h6>Notas</h6>
                        <textarea id="patient-notes" class="form-control" rows="4" disabled readonly>{{ patient.notes }}</textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h5><strong>Histórico</strong></h5>
                <div class="history-table-body mt-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Data e Horário</th>
                                <th scope="col">Procedimento</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody id="history-body"> </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-4 row-line">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="anamnese-tab" data-toggle="tab" href="#anamnese" role="tab" aria-controls="anamnese" aria-selected="true">Anamnese</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="complementary-exams-tab" data-toggle="tab" href="#complementary-exams" role="tab" aria-controls="complementary-exams" aria-selected="false">Exames Complementares</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="procedures-tab" data-toggle="tab" href="#procedures" role="tab" aria-controls="procedures" aria-selected="false">Laudos/Procedimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="recepts-tab" data-toggle="tab" href="#recepts" role="tab" aria-controls="recepts" aria-selected="false">Receitas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="declarations-tab" data-toggle="tab" href="#declarations" role="tab" aria-controls="declarations" aria-selected="false">Declarações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="recomendations-tab" data-toggle="tab" href="#recomendations" role="tab" aria-controls="recomendations" aria-selected="false" desabled>Recomendações</a>
                </li>
              </ul>
        </div>
        <div class="row">
            <div class="col">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="anamnese" role="tabpanel" aria-labelledby="anamnese-tab">
                        
                        <a class="btn btn-success text-white mb-2" onclick="window.location.href += '/anamnese/nova'">+</a>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Data</th>
                                    <th scope="col">Queixa Principal</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody id="anamnese-table-body"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="complementary-exams" role="tabpanel" aria-labelledby="complementary-exams-tab">
                    
                        <a class="btn btn-success text-white mb-2" onclick="window.location.href += '/exame-complementar/novo'">+</a>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Data</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody id="complementary-exam-table-body"></tbody>
                        </table>
                        
                    </div>
                    <div class="tab-pane fade" id="procedures" role="tabpanel" aria-labelledby="procedures-tab">
                            
                        <a class="btn btn-success text-white mb-2" onclick="window.location.href += '/laudos/novo'">+</a>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Data</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody id="medical-report-table-body"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var medicalRecordId = "{{ medical_record_id }}"
        var patientId =  "{{ patient_id }}"
        
        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>

    <script src="{% static "JS/helpers/addTag.js" %}"></script>
    <script src="{% static "JS/helpers/request.js" %}"></script>

    <script src="{% static "JS/medical-record.js" %}"></script>

    <script src="{% static "JS/helpers/consultation-filter.js" %}"></script>

{% endblock %}