{% extends "base.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}

    <div class="container mt-5 mb-5">

        <h2 class="mt-5 mb-3"><strong>Novo Laudo</strong></h2>

        <form id="medical-report-form">
            
            <div class="row">
                <div class="col-md-6">
                    <h6>Selecione Modelo de Laudo</h6>
                    <select class="form-control" id="select-medical-report-template">
                        {% for template in medical_report_templates %}
                            <option value="{{template.id}}">{{template.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <h6>Médico Solicitante</h6>
                    <input id="medical-report-requester" type="text" class="form-control">
                </div>        
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <h6>Data</h6>
                    <input type="date" id="medical-report-date" class="form-control" value="{{today}}">
                    <div class="invalid-feedback error-feedback">
                        Insira uma data e hora válida
                    </div>
                </div>

                <div class="col-md-6 mt-3">
                    <h6>Hora</h6>
                    <input type="time" id="medical-report-time" class="form-control" value="{{time_now}}">
                    <div class="invalid-feedback error-feedback">
                        Insira data e hora válida
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <h6>Paciente</h6>
                    <select id="medical-report-patient" class="form-control" disabled>
                        <option value="{{medical_record_id}}">{{patient_name}}</option>
                    </select>
                </div>
                
                <div class="col-md-6 mt-3">
                    <h6>Médico</h6>
                    <select id="medical-report-doctor" class="form-control" disabled>
                        <option value="{{doctor.id}}">{{doctor.name}}</option>
                    </select>
                </div>
            </div>

            <div id="medical-report-custom-fields"></div>
        </form>
        <div class="float-right">
            <button class="btn-success btn mt-5 mb-5" onclick="handleSaveMedicalReport()">
                Salvar
            </button>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static "JS/helpers/addTag.js" %}"></script>
    <script src="{% static "JS/helpers/request.js" %}"></script>
    <script>
        var isEditionView = false
    </script>
    <script src='{% static "JS/medical-report.js" %}'></script>

{% endblock %}